html, body {
	padding: 0;
	margin: 0;
}

.title {
	text-align: center;
	font-family: "Nico Moji";
	color: #A2A6EF;
	font-size: 36px;
	text-shadow: #fff 2px 2px 1px, #fff -2px 2px 1px, #fff 2px -2px 1px, #fff -2px -2px 1px;
	padding: 7%;
	background-image: url("/images/background.jpg");
	background-size: 100% 100%;
}

.globalNav {
	list-style: none;
	overflow: hidden;
	li {
		float: left;
		border-right: 1px solid #8c8b8b;
		&.active{
			background-color: #e0e0ff;
		}
		&:hover{
			background-color: #e0e0ff;
		}
		a {
			display: block;
			padding: 10px 50px;
			text-align: center;
			text-decoration: none;
			color: #5151ef; /* 変更前: #A9A9F5 */
			strong {
				font-family: 'Lato', 'Noto Sans Japanese', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
			}
		}
	}
}

.main1, .main2 {
	border-top: 4px double #8c8b8b;
	text-align: center;
}

.main h2 {
	padding: 0.25em 0.5em;
	/*上下 左右の余白*/
	color: #494949;
	/*文字色*/
	background: transparent;
	/*背景透明に*/
	border-left: solid 5px #7db4e6;
	/*左線*/
}

.wrap {
	width: 100%;
	max-width: 1200px;
	text-align: left;
	margin: 0 auto;
	font-family: 'Lato', 'Noto Sans Japanese', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
	&:after{
		display: table;
		clear: both;
		content: "";
	}
}

.main {
	width: 69%;
	float: left;
}

.sub {
	width: 29%;
	float: right;
}

.main-hr, .sub-hr {
	height: 3px;
	background: #58ACFA;
}

#footer {
	text-align: center;
	width: 100%;
	font-size: 80%;
	background: #494949;
	color: #cce;
	padding: 3px 0 3px 0;
	table {
		width: 100%;
		height: 30px;
		td{
			border-left: groove 2px #ccc;
			&:first-child{
				border-left: none;
			}
		}
	}
}

img {
	width: 300px;
	height: auto;
}

div.modal {
	position: relative;
	display: none;
	z-index: 9999;
	margin: 0 auto;
	.pr_box {
		margin: 0 auto;
		background-position: center;
		background-repeat: repeat;
		width: auto;
		height: 1500px;
		margin: auto;
		box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4);
		padding: 40px;
		background-image: url("/images/logo.jpg");
	}
}

.pr_box img:hover {
	margin: 0 auto;
	filter: alpha(opacity = 50);
	-webkit-opacity: 0.50;
	-moz-opacity: 0.50;
	-ms-opacity: 0.50;
	-o-opacity: 0.50;
	opacity: 0.50;
}

.close_modal {
	margin: 0 auto;
	display: block;
	width: 180px;
	line-height: 50px;
	display: inline-table;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
	color: #fff;
	border: 2px solid #018ad1;
	background: #018ad1;
	*display: inline;
	*zoom: 1;
	&:hover {
		text-decoration: none;
		display: inline-table;
		color: #018ad1;
		border: 2px solid #018ad1;
		background: #fff;
	}
}

.close_modal_no {
	display: block;
	width: 180px;
	line-height: 50px;
	display: inline-table;
	-webkit-transition: all 200ms linear;
	-moz-transition: all 200ms linear;
	-o-transition: all 200ms linear;
	transition: all 200ms linear;
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
	color: #fff;
	border: 2px solid #60cfff;
	background: #60cfff;
	*display: inline;
	*zoom: 1;
	&:hover {
		text-decoration: none;
		display: inline-table;
		color: #018ad1;
		border: 2px solid #60cfff;
		background: #fff;
	}
}

.q_and_a{
	p{
		margin-bottom: 4em;
	}
}

