doctype html
html
  head
    meta charset="utf-8"
    meta name="keywords" content="loitech titech 東工大 深夜 徘徊 サークル"
    meta name="author" content="taryan"
    title = current_page.data.title || "Loitech 公式サイト"

    == stylesheet_link_tag :style
    link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet"/
    link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet"/

    == javascript_include_tag  "jquery_1.8.3.min"
    == javascript_include_tag  "jquery.cookie"
  / a/b/c の時、class="a b c" になる
  body class="#{page_classes}"
    == yield_content :modal
    header.header
      .title
        h1 Welcome to Loitech !!
    .wrap
      hr.main1/
      .globalNav
        == partial "partials/header"
      hr.main2/
      .main
        hr.main-hr/
        == yield
      .sub
        == partial "partials/sidebar"
    #footer
      == partial "partials/footer"

