/ data/header_index.yml に設定ファイルがある

- data.header_index.pages.each do |item|
  li class=(page_classes==item.name ? 'active' : '')
    a href=(page_classes==item.name ? '' : "/#{item.name}.html")
      strong #{item.label}

