hr.sub-hr/
h4 公式ツイッターアカウント
a.twitter-follow-button data-show-count="false" href="https://twitter.com/Loitech496?ref_src=twsrc%5Etfw"  Follow @Loitech496
script async="" charset="utf-8" src="https://platform.twitter.com/widgets.js" 
a.twitter-timeline height="650px" href="https://twitter.com/Loitech496?ref_src=twsrc%5Etfw" width="100%"  Tweets by Loitech496
script async="" charset="utf-8" src="https://platform.twitter.com/widgets.js" 
hr.sub-hr/
p
  | メールアドレス:無いよ！！！！！
