---
title: 活動記録 | Loitech
---

.q_and_a
  h2 【メイン活動】 深夜徘徊
  p
    |
      このサークルの存在意義みたいなものです。よく東工大周辺を徘徊するので大岡山住みの人が多いです。基本的には複数人で深夜徘徊をしますが、中にはバイト終わりになぜか一人で徘徊するやばい人もいます。

  h2 過去問クレクレ板
  p
    |
      これが機能するのはテスト期間です。兼サーしてる人が多く過去問をたくさん持っている同級生や先輩たちと過去問を共有することができます。

  h2 ゲーム
  p
    |
      最近はMHW（モンスターハンターワールド）やスプラトューンなんかがアツイです。エロゲに人生を捧げたりゲームで車を運転したりするしている人もいます。

  h2
    | アニメ鑑賞会・飯作り
    sub など
  p
    |
      夏は深夜徘徊しまくるくせに冬は家に引きこもってる頭のおかしい奴らが深夜にアニメを鑑賞したり飯を作ったりして無駄な時間を過ごします。

  h2 style="color: saddlebrown;"
    | uncheese
  p
    |
      おそらく東工大で最もやばいですがその実態は私もわかっていません。


