---
title: 新入生の皆さんへ | Loitech
---

.q_and_a
  h2 合格おめでとうございます！！
  p
    |
      まずは東工大に合格した皆さん、おめでとうございます！！
    br
    |
      「受験に疲れたから大学では遊びまくりたい」という人も、「大学でも勉強を頑張りたい」という人も、Loitechでは大歓迎です。Loitechには頭はおかしいけど心は優しい人が多く、深夜徘徊だけでなく入学後の履修登録や大学での授業の受け方など今後の大学生活のサポートをしてくれます。

