---
title: トップページ | Loitech
---

== javascript_include_tag  "jquery.layerBoard"

- content_for :modal
  .modal
    .pr_box
      .disclaimer_inner
        .disclaimer_bt
          p.mg01.red あなたは１８以上ですか？
          p
            a.close_modal href="javascript:;" > はい
            |  
            a.close_modal_no href="http://ansaikuropedia.org/wiki/東京工業大学"  いいえ

.q_and_a
  h2 Loitechとは？
  p
    |
      Loitechとは東工大非公認サークルの一つであり、正式名称は"東工大深夜徘徊サークル「Loitech」"です。2017年に主に1年生が集まって結成されたサークルでメインの活動は深夜徘徊をすることなのですが活動内容は非常に多岐にわたります。

  h2 Loitechにはどうやったら入れるの？
  p
    |
      とても簡単です！Loitechの公式ツイッターアカウントにリプライやDMを投げれば入部することができます！また知り合いの先輩や同級生に入りたいことを伝えたりすることによっても入部可能です！難しいことは何一つないのでジャンジャン気軽に言ってくださいね！！

  h2 連携サークル
  p
    |
      全国の大学には数多くの深夜徘徊サークルが存在しており、現在Loitechは「WOLKS」様（大阪大学文学部深夜徘徊サークル「WOLKS」）と連携しています。

  h2 新歓ビラを作りました！！
  p
    |
      え？ただのQRコードしか見えないって？？？だって素材の著作権とかめんどくさかったんだもーん（ビラ製作委員会）。このビラを花道でたぶん配ったりします！！！！
  p
    img src="/images/qr.jpg"

